<div class="row align-items-center justify-content-center m-0" style="height: 100dvh;">
    <form #form="ngForm" class="col-12 col-md-6 col-lg-4 col-xl-3 p-4" (ngSubmit)="onSubmit()">
        <input autocomplete type="email" name="email" class="form-control my-1" placeholder="Email" [(ngModel)]="email"
            required #emailCtrl="ngModel" />
        <button class="btn btn-info fw-bold w-100 text-white" type="submit">
            SUBMIT
        </button>
        <a class="d-block my-2 text-decoration-none text-info text-center" [routerLink]="loginLink">Back to Login</a>
    </form>
</div>